
@{
    ViewData["Title"] = "Index";
}

<h1>Зона администратора</h1>
<h2>*Здесь будет всякая статистика*</h2>
<a asp-action="Employeers" asp-controller="Admin">Сотрудники</a>
<br />
<a asp-action="Works" asp-controller="Admin">Список услуг</a>
<br />