@model OXG.ServiceCenterWeb.Models.LoginModel

@{
	ViewData["Title"] = "Авторизация";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>OXG.ServiceCenterWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
		<main role="main" class="pb-3">
			<div class="container-fluid">
				<div class="row no-gutter">
					<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="padding-left: 0px;"></div>
					<div class="col-md-8 col-lg-6">
						<div class="login d-flex align-items-center py-5">
							<div class="container">
								<div class="row">
									<div class="col-md-9 col-lg-8 mx-auto">
										<h3 class="login-heading mb-4">Добро пожаловать!</h3>
										@using (Html.BeginForm("Login"))
										{
											<div class="form-label-group">

												<input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
												<label asp-for="Email"></label>
												<span asp-validation-for="Email" />
											</div>

											<div class="form-label-group">

												<input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required />
												<label asp-for="Password"></label>
												<span asp-validation-for="Password" />
											</div>

											<div class="custom-control custom-checkbox mb-3">
												<input type="checkbox" class="custom-control-input" id="customCheck1">
												<label class="custom-control-label" for="customCheck1">Запомнить меня</label>
											</div>
											<div asp-validation-summary="ModelOnly"></div>
											<input class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="submit" value="Войти" />
										}
										<div class="text-center">
											<a class="small" asp-action="Register">Регистрация</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
