@model OXG.ServiceCenterWeb.Models.Receipt;
@{
    ViewData["Title"] = "Create";
}

<h1 align="center">Новая квитанция</h1>

////////////////////////////////////////////////////////////////////////////////////////////

@using (Html.BeginForm("Create"))
{


<fieldset>
    <legend>@*@Model.Id*@</legend>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleSelect1">Мастер</label>
            <select asp-for="Employeer" asp-items="ViewBag.Employeers" id="exampleSelect1"></select>
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleSelect2">Статус</label>
            <select asp-for="Status" asp-items="ViewBag.Status" id="exampleSelect2"></select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Оборудование:</label>
            <input class="form-control" asp-for="Equipment.Name" placeholder="Системный блок">
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Аксессуары:</label>
            <input class="form-control" asp-for="Equipment.Accesories" placeholder="+ ЗУ">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Заявленная неисправность:</label>
        <input class="form-control" asp-for="Malfunction" placeholder="Настройка ОС">
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Номер клиента:</label>
            <input class="form-control" asp-for="Client.Phone" placeholder="8-999-999-99-99">
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleInputEmail1">Имя клиента:</label>
            <input class="form-control" asp-for="Client.Name" placeholder="Иванов Иван">
        </div>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
        <label class="custom-control-label" for="customCheck1" asp-for="Warranty">Гарантия</label>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</fieldset>
}